
.gener_filter {
     display: flex;
     flex-direction: column;
     width: 100%;
     padding: 16px 20px;
     gap: 10px;
     flex-wrap: wrap;
   }
   
   .gener_filter h3 {
     font-family: 'Inter', sans-serif;
     font-size: 24px;
     font-weight: 600;
     color: var(--gray-1);
     margin-bottom: 10px;
   }
   
   .gener_filter ul {
     display: flex;
     flex-wrap: wrap;
     gap: 2px;
     list-style: none;
     padding: 0;
     margin: 0;
   }
   
   .button_gener {
     display: flex;
     align-items: center;
   }
   
   .genre-button {
     padding: 10px 15px;
     border-radius: 4px;
     background-color: var(--gray-6);
     border: none;
     cursor: pointer;
     font-family: 'Inter', sans-serif;
     font-size: 14px;
     font-weight: 500;
     color: var(--gray-1);
     transition: background-color 0.3s ease, color 0.3s ease;
   }

   .genre-button1{
     padding: 10px 15px;
     border-radius: 4px;
     background-color: black;
     border: none;
     cursor: pointer;
     font-family: 'Inter', sans-serif;
     font-size: 14px;
     font-weight: 500;
     color: white;
     transition: background-color 0.3s ease, color 0.3s eas

   }
   
   .genre-button:hover {
     background-color: var(--brand-1);
     color: white;
   }
   
   .genre-button.active {
     background-color: var(--brand-1);
     color: white;
   }

   @media (max-width: 1024px) {
    .gener_filter{
      width: 100%;  }
  }
  
  @media (max-width: 768px) {
    .gener_filter{
      display: none;   
  }
    
  }
  
  @media (max-width: 480px) {
    .gener_filter{
      display: none; 
  }
    
  }
  
   