@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --gray-1: #15171a;
  --gray-2: #212529;
  --gray-3: #2b2f33;
  --gray-4: #ced4da;
  --gray-5: #dde2e6;
  --gray-6: #f1f3f5;
  --gray-7: #f8f9fa;
  --gray-8: #fdfeff;

  --brand-1: #6f00ff;
  --brand-2: #8629ff;

  --white-1: white;
  --black-1: black;
  

  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 4px;  
  background-color: var(--gray-8);
  font-family: 'Inter',sans-serif;
  font-style: normal;
}

.container_geral {
  width: 1200px;
  height: 2000px;
  display: flex;
  flex-direction: column;
   
  max-width: 1200px;  
  align-items: center;
  background-color: var(--gray-8);
}

span {
  color: var(--brand-1);
}

/* img{
  width: 19.25rem;
  height: 18.125rem;
} */
