.priwce_range{
/* price-range.css */

/* Selecionando o elemento input range pelo ID */
#volume {
     -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 100%;
     outline: none;
     background-color: var(--cor-predominante); /* Defina a cor predominante aqui */
     border-radius: 0.5rem;
     height: 0.5rem;
   }
   
   #volume::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     height: 30px;
     width: 30px;
     background-color: #fff;
     border-radius: 50%;
     border: 0.5rem solid var(--cor-predominante); /* Usando a mesma variável de cor */
   }
}