.dark-mode {
  background-color: var(--black-1);
}

.light {
  background-color: var(--white-1);
}

body.dark-mode {
  background-color: black;
  /* color: white; */
}

body.white-mode {
  background-color: white;
  /* color: black; */
}

.dark-mode{
  background-color: black;
 }

 .light-mode{
  background-color: white;
 }